.searchctrl  { font-family: Arial; font-size: xx-small; }
.editctrl	 { font-family: Arial; font-size: xx-small;  }
p			 { font-family: Arial; font-size: xx-small; }
p.searchtitle { font-family: Arial; font-size: small; font-weight: bold; color: Navy; }
option       { font-family: Arial; font-size: xx-small; }
TD			 { font-family: Arial; font-size: xx-small; background-color: #9EBFF6; }
body 		 { font-family: Arial; font-size: xx-small; background-color: #9EBFF6; }


table {
 	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 0;
	background-color: #9EBFF6; 
	}
	
table.resultstable {	
 	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 0;
	background-color: #9EBFF6; 
	}


