.backgroundTheme {
	background-color: #f7f7f7;
}
.backgroundGridTheme {
	background-color: #3b73b9;
}
.IGEResetProfileParentBiz
{
    FONT-WEIGHT: bold;
    COLOR: #3b73b9;
    FONT-SIZE: 11px;
}
.IGEResetProfileSubBiz
{
    FONT-WEIGHT: normal;
    COLOR: #3b73b9;
    FONT-SIZE: 10px;
}
.IGENewsClipsStoryTitle
{
    FONT-WEIGHT: bold;
    COLOR: #3b73b9;
    LINE-HEIGHT: 110%
}
.IGENewsClipsColor
{
   COLOR: #3b73b9;
 }
.arrowImage {
	background-image: url(../css images/arrow_blue_gray.gif);
	background-repeat: no-repeat;
 	background-position : 0px 2px;
}
.transArrowImage {
	background-image: url(../css images/arrow_blue.gif);
	background-repeat: no-repeat;
 	background-position : 0px 1px;
 	
}
.goArrowImage {
       		background-image: url(../css images/arrowWithGoGray.gif);
		background-repeat: no-repeat;
 		background-position : 0px 1px;
}
.IGEarrow_single_pointRightImage {
       	background-image: url(../css images/arrow_single_pointRight.gif);
		background-repeat: no-repeat;
 		background-position : 0px 1px;
		width:5;
		height:8;
}

.IGEarrow_double_pointRightImage {
       	background-image: url(../css images/arrow_double_pointRight.gif);
		background-repeat: no-repeat;
 		background-position : 0px 1px;
		width:10;
		height:8;
}
.IGEarrow_single_pointLeftImage {
       	background-image: url(../css images/arrow_single_pointLeft.gif);
		background-repeat: no-repeat;
 		background-position : 0px 1px;
		width:5;
		height:8;
}

.IGEarrow_double_pointLeftImage {
       	background-image: url(../css images/arrow_double_pointLeft.gif);
		background-repeat: no-repeat;
 		background-position : 0px 1px;
		width:10;
		height:8;
}
.IGESearch_offImage {
       	background-image: url(../css images/basic_off_a.gif);
		background-repeat: no-repeat;
 		background-position : 0px 1px;
		width:100;
		height:18;
}

.IGESearch_onImage {
       	background-image: url(../css images/basic_on_a.gif);
		background-repeat: no-repeat;
 		background-position : 0px 1px;
		width:100;
		height:18;
}

.SCSearch_onImage {
       	background-image: url(../css images/sc_on_a.gif);
		background-repeat: no-repeat;
 		background-position : 0px 1px;
		width:100;
		height:18;
}

.SCSearch_offImage {
       	background-image: url(../css images/sc_off_a.gif);
		background-repeat: no-repeat;
 		background-position : 0px 1px;
		width:100;
		height:18;
}

.ExtSearch_offImage {
       	background-image: url(../css images/geexternal_off_a.gif);
		background-repeat: no-repeat;
 		background-position : 0px 1px;
		width:100;
		height:18;
}

.ExtSearch_onImage {
       	background-image: url(../css images/geexternal_on_a.gif);
		background-repeat: no-repeat;
 		background-position : 0px 1px;
		width:100;
		height:18;
}

.SearchTitleImage {
    background-image: url(../css images/titleSearchResults.gif);
	background-repeat: no-repeat;
	background-position : 0px 1px;
	width:265;
	height:35;
}
.AdvancedSearchResultsImage {
    background-image: url(../css images/advanced-search.gif);
	background-repeat: no-repeat;
	background-position : 0px 1px;
	width:265;
	height:35;
}
.LocationSearchImage {
    background-image: url(../css images/location_search_results.gif);
	background-repeat: no-repeat;
	background-position : 0px 1px;
	width:265;
	height:35;
}
.AdvancedSearchImage {
    background-image: url(../css images/advanced-search-crit.gif);
	background-repeat: no-repeat;
	background-position : 0px 1px;
	width:265;
	height:35;
}
BODY
{
    FONT-SIZE: 11px;
    BACKGROUND: #fff;
    MARGIN: 0px;
    COLOR: #666;
    LINE-HEIGHT: 13px;
    FONT-FAMILY: Arial, Helvetica, san-serif;
    TEXT-ALIGN: left
}

LI
{    
   FONT-SIZE: 11px;
}
#document
{
    WIDTH: 734px
}
P
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 0px;
    FONT-FAMILY: Arial, Helvetica, san-serif
}
TD
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 0px;
    FONT-FAMILY: Arial, Helvetica, san-serif
}
P
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px 0px 15px;
    PADDING-TOP: 0px
}
A:link
{
    COLOR: #3b73b9;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #3b73b9;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #3399cc;
    TEXT-DECORATION: underline
}
A:active
{
    COLOR: #3b73b9;
    TEXT-DECORATION: underline
}
A IMG
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    DISPLAY: block;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px
}
A:link IMG
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    DISPLAY: block;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px
}
A:visited IMG
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    DISPLAY: block;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px
}
A:hover IMG
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    DISPLAY: block;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px
}
A:active IMG
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    DISPLAY: block;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px
}
IMG
{
    BORDER-RIGHT: #cccccc 0px;
    BORDER-TOP: #cccccc 0px;
    DISPLAY: block;
    BORDER-LEFT: #cccccc 0px;
    BORDER-BOTTOM: #cccccc 0px
}
INPUT
{
    PADDING-RIGHT: 0px;
    DISPLAY: inline;
    PADDING-LEFT: 0px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 0px
}
FORM
{
    BORDER-RIGHT: 0px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px 0px 15px;
    BORDER-LEFT: 0px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: 0px
}
TD
{
    FONT-FAMILY: Arial, Helvetica, san-serif
}
#IGEhead
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    WIDTH: 695px;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #999 1px solid
}
.IGEcustom#IGEhead
{
    WIDTH: 950px
}
#IGEheadCustom
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    WIDTH: 920px;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #999 1px solid
}
#IGEhead A:link
{
    COLOR: #666;
    TEXT-DECORATION: none
}
#IGEhead A:visited
{
    COLOR: #666;
    TEXT-DECORATION: none
}
#IGEhead A:hover
{
    COLOR: #666;
    TEXT-DECORATION: underline
}
#IGEhead A:active
{
    COLOR: #666;
    TEXT-DECORATION: underline
}
#IGEhead .IGEsearchCell
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
#IGEhead .IGEsearchCell IMG
{
    DISPLAY: inline
}
#IGEhead .IGEsearchCell TD
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 0px
}
#IGEhead .IGEsearchCell FORM
{
    MARGIN: 0px
}
#IGEhead .IGEsearchCell TD INPUT
{
    FONT-SIZE: 11px;
    COLOR: #666;
    LINE-HEIGHT: 13px;
    BACKGROUND-COLOR: #f7f7f7
}
#IGEhead .IGEsearchCell TD SELECT
{
    FONT-SIZE: 11px;
    COLOR: #666;
    LINE-HEIGHT: 13px;
    BACKGROUND-COLOR: #f7f7f7
}
#IGEhead .IGEotherbizCell
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    WIDTH: 300px;
    PADDING-TOP: 0px
}
.IGEcustom#IGEhead .IGEotherbizCell
{
    PADDING-RIGHT: 248px
}
#IGEhead .IGEotherbizCell TD
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 0px;
    TEXT-ALIGN: right
}
.IGEcustom#IGEhead .IGEotherbizCell TD
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 13px;
    MARGIN-RIGHT: 254px;
    PADDING-TOP: 0px;
    TEXT-ALIGN: right
}
#IGEhead .IGEotherbizCell FORM
{
    MARGIN: 0px
}
#IGEhead .IGEotherbizCell TD SELECT
{
    FONT-SIZE: 11px;
    COLOR: #666;
    LINE-HEIGHT: 13px;
    BACKGROUND-COLOR: #f7f7f7
}
#IGEhead TD IMG
{
    DISPLAY: inline
}
.IGEcustom#IGEhead TD IMG
{
    DISPLAY: inline
}
UNKNOWN
{
    DISPLAY: inline
}
#IGEinsideheader
{
    BACKGROUND-POSITION: left 50%;
    BORDER-TOP: #ccc 1px solid;
    BACKGROUND-IMAGE: url(../css images/monogram/hdr_monogram.gif);
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #ccc 1px solid;
    BACKGROUND-REPEAT: no-repeat
}
.IGEcustom#IGEhead #IGEinsideheader
{
    PADDING-RIGHT: 250px
}
#IGEmasthead
{
    BACKGROUND-POSITION: left 50%;
    BACKGROUND-IMAGE: url(../css images/monogram/hdr_monogram.gif);
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 61px
}
#IGEmasthead IMG
{
    DISPLAY: inline
}
#IGEmasthead TD.IGEcell
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px
}
#IGEmasthead TD.IGEcellRightBorder
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px
}
#IGEmasthead TD.IGEcell UL
{
    PADDING-LEFT: 0px;
    MARGIN: 0px 0px 0px 15px;
    LIST-STYLE-TYPE: none
}
#IGEmasthead TD.IGEcellRightBorder UL
{
    PADDING-LEFT: 0px;
    MARGIN: 0px 0px 0px 15px;
    LIST-STYLE-TYPE: none
}
#IGEmasthead td.IGEcell ul li { background-attachment: scroll; background-image: 
               url('../css images/arrow_blue.gif'); 
               background-repeat: no-repeat; margin: 0px; padding-left: 10px; 
               padding-right: 0px; padding-top: 0px; padding-bottom: 1px; 
               background-position: center 50% }
#IGEmasthead td.IGEcellRightBorder ul li { background-attachment: scroll; background-image: 
               url('../css images/arrow_blue.gif'); 
               background-repeat: no-repeat; margin: 0px; padding-left: 10px; 
               padding-right: 0px; padding-top: 0px; padding-bottom: 1px; 
               background-position: center 50% }
#IGEmasthead TD.IGEcellRight
{
    PADDING-LEFT: 10px
}
#IGEtopbar
{
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px
}
#IGEbottombar
{
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px
}
.IGEcustom#IGEhead .IGEstock
{
    PADDING-RIGHT: 248px
}
.IGEtextbutton A:link
{
    FONT-WEIGHT: bold;
    TEXT-TRANSFORM: uppercase;
    COLOR: #3b73b9;
    TEXT-DECORATION: none
}
.IGEtextbutton A:visited
{
    FONT-WEIGHT: bold;
    TEXT-TRANSFORM: uppercase;
    COLOR: #3b73b9;
    TEXT-DECORATION: none
}
.IGEtextbutton A:hover
{
    FONT-WEIGHT: bold;
    TEXT-TRANSFORM: uppercase;
    COLOR: #3b73b9;
    TEXT-DECORATION: none
}
.IGEtextbutton A:active
{
    FONT-WEIGHT: bold;
    TEXT-TRANSFORM: uppercase;
    COLOR: #3b73b9;
    TEXT-DECORATION: none
}
#IGEhead #IGEtopbar TD.IGEtextbutton A
{
    FONT-WEIGHT: bold;
    TEXT-TRANSFORM: uppercase;
    COLOR: #3b73b9;
    TEXT-DECORATION: none
}
#IGEhead .IGEsearchCell TD.IGEtextbutton A:link
{
    FONT-WEIGHT: bold;
    COLOR: #3b73b9;
    TEXT-DECORATION: none
}
#IGEhead .IGEsearchCell TD.IGEtextbutton A:visited
{
    FONT-WEIGHT: bold;
    COLOR: #3b73b9;
    TEXT-DECORATION: none
}
#IGEhead .IGEsearchCell TD.IGEtextbutton A:hover
{
    FONT-WEIGHT: bold;
    COLOR: #3b73b9;
    TEXT-DECORATION: none
}
#IGEhead .IGEsearchCell TD.IGEtextbutton A:active
{
    FONT-WEIGHT: bold;
    COLOR: #3b73b9;
    TEXT-DECORATION: none
}
#IGEhead .IGEotherbizCell TD.IGEtextbutton
{
    FONT-WEIGHT: bold;
    TEXT-TRANSFORM: uppercase;
    COLOR: #3b73b9;
    TEXT-DECORATION: none
}
#IGEhead .IGEotherbizCell TD.IGEtextbutton A:link
{
    FONT-WEIGHT: bold;
    COLOR: #3b73b9;
    TEXT-DECORATION: none
}
#IGEhead .IGEotherbizCell TD.IGEtextbutton A:visited
{
    FONT-WEIGHT: bold;
    COLOR: #3b73b9;
    TEXT-DECORATION: none
}
#IGEhead .IGEotherbizCell TD.IGEtextbutton A:hover
{
    FONT-WEIGHT: bold;
    COLOR: #3b73b9;
    TEXT-DECORATION: none
}
#IGEhead .IGEotherbizCell TD.IGEtextbutton A:active
{
    FONT-WEIGHT: bold;
    COLOR: #3b73b9;
    TEXT-DECORATION: none
}
#IGEnav
{
    OVERFLOW: hidden;
    WIDTH: 145px;
    COLOR: #666
}
#IGEnav UL
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    LIST-STYLE-TYPE: none
}
#IGEnav A:link
{
    COLOR: #666;
    TEXT-DECORATION: none
}
#IGEnav A:visited
{
    COLOR: #666;
    TEXT-DECORATION: none
}
#IGEnav A:hover
{
    COLOR: #666;
    BORDER-BOTTOM: #ccc 1px solid
}
#IGEnav A:active
{
    COLOR: #666;
    BORDER-BOTTOM: #ccc 1px solid
}
#IGEnav LI
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 16px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 7px;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #ccc 1px solid
}
#IGEnav LI A:link
{
    FONT-WEIGHT: bold;
    COLOR: #3b73b9
}
#IGEnav LI A:visited
{
    FONT-WEIGHT: bold;
    COLOR: #3b73b9
}
#IGEnav LI A:hover
{
    FONT-WEIGHT: bold;
    COLOR: #3399cc;
    BORDER-BOTTOM: #ccc 1px solid
}
#IGEnav LI A:active
{
    COLOR: #3b73b9
}
#IGEnav LI.IGEdash
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 16px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    BACKGROUND: url(../css images/blueDash.gif) no-repeat left center;
    PADDING-BOTTOM: 7px;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 5px
}
#IGEnav LI.IGEdash A:link
{
    COLOR: #3b73b9;
    TEXT-DECORATION: none
}
#IGEnav LI LI
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 5px;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: 0px
}
#IGEnav LI LI A:link
{
    FONT-WEIGHT: normal;
    COLOR: #3b73b9
}
#IGEnav LI LI A:visited
{
    COLOR: #3b73b9
}
#IGEnav LI LI A:hover
{
    COLOR: #3399cc;
    BORDER-BOTTOM: 0px
}
#IGEnav LI LI A:active
{
    COLOR: #3b73b9
}
#IGEnav LI LI LI
{
    MARGIN-LEFT: 8px
}
#IGEnav LI LI LI A:link
{
    FONT-WEIGHT: normal;
    COLOR: #3b73b9
}
#IGEnav LI LI LI A:visited
{
    COLOR: #3b73b9
}
#IGEnav LI LI LI A:hover
{
    COLOR: #3399cc;
    BORDER-BOTTOM: 0px
}
#IGEnav LI LI LI A:active
{
    COLOR: #3b73b9
}
#IGEnav LI.IGEopen
{
    PADDING-LEFT: 0px
}
#IGEnav LI.IGEclosed
{
    PADDING-LEFT: 0px
}
#IGEnav LI.IGEprimListNoLink
{
    PADDING-LEFT: 0px
}
#IGEnav LI.IGEopen UL
{
    PADDING-RIGHT: 0px;
    DISPLAY: block;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 3px
}
#IGEnav LI.IGEopen UL UL
{
    MARGIN-BOTTOM: -6px
}
#IGEnav LI.IGEclosed UL
{
    DISPLAY: none
}
#IGEnav SPAN.IGEopener
{
    CURSOR: hand;
    COLOR: #666;
    FONT-STYLE: italic
}
#IGEnav IMG
{
    DISPLAY: inline
}
#IGEmainExtensionContainer
{
    MARGIN-TOP: 20px
}
#IGEcustomMain
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 30px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    WIDTH: 488px;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 0px
}
#IGEmain
{
    PADDING-RIGHT: 15px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 25px;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 8px
}
.IGEwide
{
    WIDTH: 480px
}
.IGEfull
{
    WIDTH: 480px
}
#IGEmain H2
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 24px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px 0px 20px;
    LINE-HEIGHT: 24px;
    PADDING-TOP: 0px;
    TEXT-ALIGN: left
}
#IGEmain TH
{
    PADDING-LEFT: 10px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 4px;
    COLOR: #fff;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #fff 10px solid;
    BACKGROUND-COLOR: #ccc;
    TEXT-ALIGN: left
}
#IGEmain TD
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 5px
}
P.IGEadvancedSearch
{
    PADDING-RIGHT: 0px;
    DISPLAY: inline;
    PADDING-LEFT: 0px;
    FLOAT: right;
    MARGIN-BOTTOM: 5px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 7px;
    TEXT-ALIGN: right
}
P.IGEadvancedSearch IMG
{
    DISPLAY: inline
}
.IGEsearchTable TH
{
    PADDING-LEFT: 15px
}
.IGEsearchTable
{
    BORDER-RIGHT: #ccc 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #ccc 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 15px;
    MARGIN: 0px 0px 15px;
    BORDER-LEFT: #ccc 1px solid;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #ccc 1px solid
}
.IGEsearchTable TD.IGEfirstCell
{
    PADDING-RIGHT: 8px;
    PADDING-LEFT: 8px;
    PADDING-BOTTOM: 4px;
    PADDING-TOP: 4px;
    TEXT-ALIGN: right
}
.IGEsearchTable TD.IGEsecondCell
{
    PADDING-RIGHT: 8px! important;
    PADDING-LEFT: 8px! important;
    PADDING-BOTTOM: 4px! important;
    PADDING-TOP: 4px! important
}
.IGEsearchTable TD IMG
{
    DISPLAY: inline
}
#IGEmain .IGElearnTable
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 15px;
    MARGIN: 0px 0px 15px;
    PADDING-TOP: 0px
}
#IGEmain .IGElearnTable TH
{
    PADDING-LEFT: 15px
}
#IGEmain .IGElearnTable TD
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
#IGEmain .IGElearnTableRight TD
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    TEXT-ALIGN: left
}
#IGEmain .IGElearnTable H5
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 10px;
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #ccc 1px solid
}
#IGEmain .IGElearnTableRight H5
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 10px;
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #ccc 1px solid
}
#IGEmain .IGElearnTable IMG.IGEfloatLeft
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px
}
#IGEmain .IGElearnTable H6
{
    DISPLAY: block;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    MARGIN: 0px;
    LINE-HEIGHT: 13px
}
TR.IGErowOdd
{
    BACKGROUND-COLOR: #f7f7f7
}
a.IGEsearchLink { font-weight: bold; background-image: 
               url('../css images/iconLink.gif'); 
               background-repeat: no-repeat; background-color: left; 
               background-attachment: scroll; color: #666; margin: 0px; 
               padding-left: 8px; padding-right: 0px; padding-top: 0px; 
               padding-bottom: 0px; background-position: top }
A.IGEmore
{
    FONT-SIZE: 9px;
    TEXT-TRANSFORM: uppercase
}
.IGEfull #IGEpagehead
{
    PADDING-BOTTOM: 20px;
    WIDTH: 480px
}
.IGEwide #IGEpageHead
{
    WIDTH: 322px
}
.IGEwide #IGEpageHeadLearn
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 10px;
    MARGIN: 5px 0px 0px;
    PADDING-TOP: 10px;
    BACKGROUND-COLOR: #eee
}
.IGEwide #IGEpageHeadLearn H3
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    LINE-HEIGHT: 13px;
    BORDER-BOTTOM: #ccc 1px solid
}
.IGEwide #IGEpageHeadLearn UL
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 10px 0px 0px;
    PADDING-TOP: 0px;
    LIST-STYLE-TYPE: none
}
.IGEwide #IGEpageHeadLearn li { font-weight: normal; font-size: 11px; background-image: 
               url('../css images/grayOpenArrow.gif'); 
               background-repeat: no-repeat; background-color: left; 
               background-attachment: scroll; line-height: 13px; 
               padding-left: 10px; padding-right: 0px; padding-top: 0px; 
               padding-bottom: 3px; background-position: top }
#IGEpageHead P
{
    MARGIN-LEFT: 162px
}
#IGEpageHead H3
{
    MARGIN-LEFT: 140px
}
#IGEpageHead H4
{
    MARGIN-LEFT: 158px
}
#IGEpageHead H5
{
    MARGIN-LEFT: 158px
}
#IGEpageHead H6
{
    MARGIN-LEFT: 158px
}
#IGEpageHead UL
{
    MARGIN-LEFT: 158px
}
IMG.IGEfloatLeft {
BORDER-RIGHT: #ccc 1px solid;
BORDER-TOP: #ccc 1px solid;
FLOAT: left;
BORDER-LEFT: #ccc 1px solid;
BORDER-BOTTOM:#ccc 1px solid
}
IMG.IGEimgBorder
{
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    BORDER-LEFT: 1px solid;
    BORDER-BOTTOM: 1px solid
}
#IGEpageHead H3
{
    MARGIN-TOP: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    MARGIN-BOTTOM: 0px;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 0px
}
#IGEpageHead H4.IGEeyebrow
{
    PADDING-RIGHT: 2px;
    MARGIN-TOP: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 9px;
    MARGIN-BOTTOM: 0px;
    PADDING-BOTTOM: 2px;
    TEXT-TRANSFORM: uppercase;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 2px
}
#IGEmain H3
{
    PADDING-RIGHT: 0px;
    MARGIN-TOP: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 13px;
    MARGIN-BOTTOM: 0px;
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 15px;
    PADDING-TOP: 0px
}
H3.IGEnameTitle
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 13px;
    MARGIN-BOTTOM: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN-LEFT: 10px;
    COLOR: #3b73b9;
    LINE-HEIGHT: 15px;
    PADDING-TOP: 0px
}
H3.IGEnoPadTitle
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 13px;
    MARGIN-BOTTOM: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN-LEFT: 0px;
    COLOR: #3b73b9;
    LINE-HEIGHT: 15px;
    PADDING-TOP: 0px
}
H3.IGEtopTitle
{
    COLOR: #3b73b9
}
.IGEwide .IGEmodTitle
{
    PADDING-RIGHT: 165px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 6px;
    PADDING-TOP: 0px
}
#IGEmain .IGEtextMod
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
#IGEmain .IGEtextMod .IGEmodTitle { background-image: 
               url('../css images/hDash.gif'); 
               background-repeat: repeat-x; background-color: left; 
               background-attachment: scroll; text-align: right; 
               background-position: bottom }
#IGEmain .IGEtextMod .IGEmodTitle H3
{
    FONT-SIZE: 12px;
    FLOAT: left;
    COLOR: #999;
    LINE-HEIGHT: 16px;
    HEIGHT: 16px;
    TEXT-ALIGN: left
}
#IGEmain .IGEtextMod .IGEmodTitle .IGEviewAll { font-size: 10px; background-image: 
               url('../css images/iconLink.gif'); 
               background-repeat: no-repeat; background-color: left; 
               background-attachment: scroll; color: #999; line-height: 10px; 
               padding-left: 8px; background-position: top }
#IGEmain .IGEtextMod .IGEmodText IMG
{
    DISPLAY: inline
}
.IGEwide .IGEtextMod .IGEmodText
{
    PADDING-RIGHT: 165px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 15px
}
.IGEtwoCol .IGEtextMod .IGEmodText
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 15px
}
.IGEtextMod H6.IGEdate
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 9px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    LINE-HEIGHT: 11px;
    PADDING-TOP: 0px
}
#IGEmain .IGEtextMod H5.IGEeyebrow
{
    PADDING-RIGHT: 0px;
    DISPLAY: inline;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 9px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    LINE-HEIGHT: 11px;
    PADDING-TOP: 0px
}
P.IGEresultsLinks
{
    MARGIN-BOTTOM: 5px;
    TEXT-ALIGN: right
}
.IGEresultsTable TH.IGEfirstCell
{
    PADDING-LEFT: 8px
}
.IGEresultsTable TD.IGEfirstCell
{
    TEXT-ALIGN: center
}
.IGEresultsTable IMG
{
    DISPLAY: inline
}
#IGEmain H5
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 0px
}
.IGEsearchTable TD.IGEsecondCell INPUT
{
    FONT-SIZE: 11px;
    COLOR: #666;
    LINE-HEIGHT: 13px;
    BACKGROUND-COLOR: #3b73b9
}
.IGEsearchTable TD.IGEsecondCell SELECT
{
    FONT-SIZE: 11px;
    COLOR: #666;
    LINE-HEIGHT: 13px;
    BACKGROUND-COLOR: #f7f7f7
}
#IGEmain TABLE.IGElayout TD.IGElayout
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
#IGEmain SELECT
{
    FONT-SIZE: 11px;
    COLOR: #666;
    LINE-HEIGHT: 13px;
    BACKGROUND-COLOR: #f7f7f7
}
#IGEmain TABLE.IGEselectVideo
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    TEXT-ALIGN: left
}
#IGEmain TD.IGEselectVideoCell
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 0px;
    TEXT-ALIGN: left
}
#IGEmain TABLE.IGEselectVideo TD.IGEselectVideoCell IMG
{
    DISPLAY: inline
}
#IGEmain TD.IGEselectVideoCell FORM
{
    MARGIN: 0px
}
#IGEmain TD.IGEselectVideoCell SELECT
{
    FONT-SIZE: 11px;
    COLOR: #666;
    LINE-HEIGHT: 13px;
    BACKGROUND-COLOR: #f7f7f7
}
.IGEtwoCol
{
    WIDTH: 340px
}
.IGEtwoCol #IGEpagehead
{
    WIDTH: 340px
}
.IGEtwoCol #IGEpagehead H3
{
    PADDING-TOP: 60px
}
.IGEtwoCol #IGEpagehead H3.IGEnewsTitle
{
    LINE-HEIGHT: 25px;
    PADDING-TOP: 0px
}
.IGEtwoCol .IGEtextMod
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 15px
}
.IGEtwoCol .IGEtextMod IMG
{
    DISPLAY: inline
}
.IGEtwoCol .IGEtextMod .IGEmodText
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 15px
}
.IGEtwoCol .IGEtextMod .IGEmodText H5
{
    DISPLAY: inline;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    MARGIN: 0px
}
.IGEtwoCol .IGEtextMod .IGEmodText H6
{
    FONT-SIZE: 11px;
    MARGIN: 0px
}
.IGEtwoCol .IGEtextMod H5
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    MARGIN: 0px
}
.IGEtwoCol .IGEtextMod H6
{
    FONT-SIZE: 11px;
    MARGIN: 0px
}
.IGEtwoCol .IGEthumbMod
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 20px
}
.IGEtwoCol .IGEthumbMod IMG
{
    PADDING-RIGHT: 20px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px
}
.IGEtwoCol .IGEthumbMod H5
{
    FONT-SIZE: 9px;
    MARGIN: 0px
}
.IGEtwoCol .IGEthumbMod H6
{
    DISPLAY: inline;
    FONT-SIZE: 11px;
    MARGIN: 0px
}
.IGEtwoCol .IGEthumbMod P
{
    MARGIN-LEFT: 82px
}
.IGEtwoCol .IGEthumbMod UL
{
    MARGIN-LEFT: 75px
}
#IGEmain .IGErate
{
    BORDER-TOP: #666 1px solid;
    PADDING-TOP: 5px
}
#IGEmain .IGErate TD
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    WHITE-SPACE: nowrap;
    TEXT-ALIGN: left
}
#IGEmain .IGErate IMG
{
    DISPLAY: inline
}
.IGEfull .IGEthumbMod
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px
}
.IGEfull .IGEthumbMod IMG
{
    PADDING-RIGHT: 20px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px
}
.IGEfull .IGEthumbMod H6
{
    DISPLAY: block;
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 0px;
    MARGIN-LEFT: 82px
}
.IGEfull .IGEthumbMod P
{
    MARGIN-LEFT: 82px
}
.IGEfull .IGEthumbMod IMG.IGEarrow
{
    PADDING-RIGHT: 0px;
    DISPLAY: inline;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px
}
A.IGEindexTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px
}
#IGEchooseCountry
{
    DISPLAY: inline
}
#IGErelatedCell
{
    BORDER-TOP: #ffffff 0px solid;
    BACKGROUND-COLOR: #f7f7f7
}
#IGErelated
{
    PADDING-RIGHT: 15px;
    PADDING-LEFT: 15px;
    PADDING-BOTTOM: 25px;
    WIDTH: 150px;
    PADDING-TOP: 12px
}
#IGErelated SPAN.IGEpasswords
{
    DISPLAY: block;
    FONT-SIZE: 10px;
    LINE-HEIGHT: 13px;
    FONT-STYLE: italic
}
#IGErelated A:link
{
    COLOR: #3b73b9;
    TEXT-DECORATION: none
}
#IGErelated A:visited
{
    COLOR: #990099;
    TEXT-DECORATION: none
}
#IGErelated A:hover
{
    COLOR: #3b73b9;
    TEXT-DECORATION: none
}
A:active
{
    COLOR: #3b73b9;
    TEXT-DECORATION: none
}
#IGErelated TABLE.IGErelatedSearch
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
#IGErelated TABLE.IGErelatedSearch TD.IGErelatedSearchCell
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 0px;
    TEXT-ALIGN: left
}
#IGErelated TD IMG
{
    DISPLAY: inline
}
UNKNOWN
{
    MARGIN: 0px
}
#IGErelated TABLE.IGErelatedSearch TD.IGErelatedSearchCell INPUT
{
    FONT-SIZE: 11px;
    COLOR: #666;
    LINE-HEIGHT: 13px;
    BACKGROUND-COLOR: #fff
}
#IGErelated .IGErelatedBox
{
    BORDER-RIGHT: #999 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #999 1px solid;
    PADDING-LEFT: 5px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: #999 1px solid;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #999 1px solid
}
#IGErelated .IGErelatedBox IMG
{
    DISPLAY: inline
}
#IGErelated H3
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 3px;
    MARGIN: 8px 0px 3px;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #ccc 1px solid
}
#IGErelated UL
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    LIST-STYLE-TYPE: none
}
#IGErelated li { font-weight: normal; font-size: 11px; background-image: 
               url('../css images/arrow_bluepixel.gif'); 
               background-repeat: no-repeat; background-color: left; 
               background-attachment: scroll; line-height: 13px; 
               padding-left: 10px; padding-right: 0px; padding-top: 0px; 
               padding-bottom: 3px; background-position: top }
#IGEfootTwoCol
{
    PADDING-RIGHT: 0px;
    BORDER-TOP: #ccc 1px solid;
    PADDING-LEFT: 0px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 25px;
    MARGIN: 40px 0px 0px 30px;
    COLOR: #666;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 0px;
    TEXT-ALIGN: left
}
#IGEfootTwoCol P
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 6px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
#IGEfootTwoCol P#IGEcopy
{
    COLOR: #999;
    PADDING-TOP: 4px
}
#IGEfoot
{
    PADDING-RIGHT: 0px;
    BORDER-TOP: #ccc 1px solid;
    PADDING-LEFT: 0px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 25px;
    MARGIN: 40px 0px 0px;
    COLOR: #666;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 0px;
    TEXT-ALIGN: left
}
#IGEfoot P
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 6px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
#IGEfoot P#IGEcopy
{
    COLOR: #999;
    PADDING-TOP: 4px
}
#IGEfootCustom
{
    PADDING-RIGHT: 0px;
    BORDER-TOP: #ccc 1px solid;
    PADDING-LEFT: 0px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 25px;
    MARGIN: 40px 0px 0px 30px;
    COLOR: #666;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 0px;
    TEXT-ALIGN: left
}
#IGEfootCustom P
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 6px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
#IGEfootCustom P#IGEcopy
{
    COLOR: #999;
    PADDING-TOP: 4px
}
.IGEcustom
{
    WIDTH: 796px
}
#IGEtopHeadlineContainer
{
    MARGIN-BOTTOM: 20px;
    WIDTH: 488px
}
.IGEtopHeadline
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 131px;
    COLOR: #666;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 0px
}
.IGEtopHeadline H6
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 10px
}
.IGEtopHeadline P
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
.IGEtopHeadlineCenter
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 131px;
    COLOR: #666;
    LINE-HEIGHT: 15px;
    PADDING-TOP: 0px;
    TEXT-ALIGN: left
}
.IGEtopHeadlineCenter H6
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 10px
}
.IGEtopHeadlineCenter P
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
.IGEtopHeadlineRight
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 131px;
    COLOR: #666;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 0px;
    TEXT-ALIGN: left
}
.IGEtopHeadlineRight H6
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 10px
}
.IGEtopHeadlineRight P
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
#IGEtodaysPoll
{
    BORDER-RIGHT: #ccc 1px solid;
    BORDER-TOP: #ccc 1px solid;
    MARGIN-TOP: 20px;
    MARGIN-BOTTOM: 20px;
    BORDER-LEFT: #ccc 1px solid;
    WIDTH: 510px;
    BORDER-BOTTOM: #ccc 1px solid
}
#IGEtodaysPollCustom
{
    BORDER-RIGHT: #ccc 1px solid;
    PADDING-RIGHT: 255px;
    BORDER-TOP: #ccc 1px solid;
    MARGIN-TOP: 20px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN-LEFT: 30px;
    BORDER-LEFT: #ccc 1px solid;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #ccc 1px solid
}
#IGEtodaysPoll TD
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 5px;
    MARGIN: 0px;
    LINE-HEIGHT: 15px;
    PADDING-TOP: 5px;
    WHITE-SPACE: nowrap;
    TEXT-ALIGN: left
}
#IGEtodaysPollCustom TD
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 5px;
    MARGIN: 0px;
    LINE-HEIGHT: 15px;
    PADDING-TOP: 5px;
    WHITE-SPACE: nowrap;
    TEXT-ALIGN: left
}
#IGEtodaysPoll TD IMG
{
    DISPLAY: inline
}
#IGEtodaysPollCustom TD IMG
{
    DISPLAY: inline
}
.IGEpageDisplayOutsideTable
{
    BORDER-BOTTOM: #999999 2px solid;
    BACKGROUND-COLOR: #eeeeee
}
.IGEmodContainerParent
{
    PADDING-TOP: 10px
}
.IGEmodContainerCustomParentInside
{
    BACKGROUND-COLOR: #ffffff
}
.IGEmodContainerCustom
{
    PADDING-RIGHT: 0px;
    BORDER-TOP: #999999 1px solid;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 15px;
    BORDER-BOTTOM: #999999 0px solid;
    BACKGROUND-COLOR: #eee
}
.IGEmodContainer
{
    PADDING-RIGHT: 0px;
    BORDER-TOP: #999999 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 15px;
    BORDER-BOTTOM: #999999 1px solid;
    BACKGROUND-COLOR: #eee
}
.IGEmodContainerCustom2
{
    PADDING-RIGHT: 15px;
    BORDER-TOP: #999999 1px solid;
    PADDING-LEFT: 15px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 15px;
    BORDER-BOTTOM: #999999 1px solid;
    BACKGROUND-COLOR: #eee
}
.IGEmodContainerCustomParent
{
    BORDER-TOP: medium none;
    BORDER-BOTTOM: #999999 1px solid
}
.IGEmodContainerExtension
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #999 1px solid;
    BACKGROUND-COLOR: #eee
}
.IGEmod
{
    PADDING-BOTTOM: 15px;
    FONT-FAMILY: Arial
}
.IGEmodBod FORM
{
    MARGIN-BOTTOM: 0px
}
.IGEmodBod IMG
{
    DISPLAY: inline
}
.IGEmodTitle
{
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 4px;
    COLOR: #fff;
    LINE-HEIGHT: 10px;
    PADDING-TOP: 4px;
    BACKGROUND-COLOR: #FFFFFF
}
.IGEmodTitle A:link
{
    COLOR: #fff
}
.IGEmodTitle A:visited
{
    COLOR: #fff
}
.IGEmodTitleNotLogged A:link
{
    COLOR: #fff
}
.IGEmodTitleNotLogged A:visited
{
    COLOR: #fff
}
.IGEmodTitleNotLogged
{
    PADDING-RIGHT: 15px;
    PADDING-LEFT: 15px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 4px;
    COLOR: #fff;
    LINE-HEIGHT: 10px;
    PADDING-TOP: 4px;
    BACKGROUND-COLOR: #3b73b9
}
.IGEmodTitle IMG
{
    DISPLAY: inline
}
.IGEmodTitle SPAN.IGEcolapser
{
    PADDING-RIGHT: 4px;
    CURSOR: hand
}
.IGEmodTitle SPAN.IGEmaxmize
{
    PADDING-RIGHT: 4px;
    CURSOR: hand
}
.IGEmodTitle SPAN.IGEcloser
{
    PADDING-RIGHT: 2px;
    CURSOR: hand
}
.IGEmodTitleNotLogged span.IGEmoreLink { font-size: 9px; background-image: 
               url('../css images/arrow_white_bluebg.jpg'); 
               background-repeat: no-repeat; background-color: left; 
               background-attachment: scroll; float: right; text-transform: 
               uppercase; padding-left: 8px; background-position: center }
.IGEmodTitle H5
{
    PADDING-RIGHT: 0px;
    DISPLAY: inline;
    PADDING-LEFT: 0px;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    LINE-HEIGHT: 10px;
    PADDING-TOP: 0px
}
.IGEmodTitleNotLogged H5
{
    PADDING-RIGHT: 0px;
    DISPLAY: inline;
    PADDING-LEFT: 0px;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    LINE-HEIGHT: 10px;
    PADDING-TOP: 0px
}
.IGEmodTitle H5.td
{
    PADDING-RIGHT: 0px;
    DISPLAY: inline;
    PADDING-LEFT: 0px;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    LINE-HEIGHT: 10px;
    PADDING-TOP: 0px
}
.IGEmodTitleNotLogged H5.td
{
    PADDING-RIGHT: 0px;
    DISPLAY: inline;
    PADDING-LEFT: 0px;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    LINE-HEIGHT: 10px;
    PADDING-TOP: 0px
}
.IGEmodBod
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    COLOR: #666;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 0px;
    BACKGROUND-COLOR: #ffffff
}
.IGEmodBodClosed
{
    DISPLAY: none
}
.IGEmodBod H6
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 10px
}
.IGEmodBod TD H6
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px
}
.IGEmodBod P
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 10px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
.IGEmodBod P.IGElast
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px
}
.IGEmodBod .IGEthumb IMG.IGEfloatLeft
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px
}
.IGEmodBod .IGEthumb H6
{
    PADDING-TOP: 36px
}
.IGEmodFoot  { font-size: 9px; background-image: 
               url('../css images/modFootBG.gif'); 
               background-repeat: no-repeat; background-attachment: scroll; 
               line-height: 9px; text-align: right; border-top: 3px solid #ccc; 
               background-position: right top }
.IGEmodFoot SPAN
{
    CURSOR: hand
}
.IGEmodFoot P
{
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px;
    COLOR: #666;
    PADDING-TOP: 0px
}
.IGEmodFoot SPAN IMG
{
    DISPLAY: inline
}
.IGEmodFootNotLogged
{
    BORDER-TOP: #ccc 3px solid;
    OVERFLOW: hidden;
    HEIGHT: 0px
}
#IGEmyEmail .IGEmodBod
{
    PADDING-RIGHT: 15px;
    PADDING-LEFT: 7px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px
}
#IGEmyEmail .IGEmodBod TD
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 10px;
    MARGIN: 0px;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #ccc 1px solid
}
#IGEmyEmail .IGEmodBod TR.IGElast TD
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px
}
#IGEmyEmail .IGEmodBod TD.IGEunread
{
    FONT-WEIGHT: bold
}
#IGEmyEmail .IGEmodBod TD.IGEunread H6
{
    FONT-WEIGHT: bold
}
#IGEschedule SPAN.IGEwho
{
    DISPLAY: block
}
#IGEschedule SPAN.IGEwhat
{
    DISPLAY: block
}
#IGEschedule SPAN.IGEwhere
{
    DISPLAY: block
}
#IGEschedule TD
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #ccc 1px solid
}
#IGEschedule .IGEmodBod TR.IGElast TD
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px
}
#IGEschedule H6
{
    FONT-WEIGHT: bold
}
#IGEmyTaskList .IGEmodBod TD
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 10px;
    MARGIN: 0px;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #ccc 1px solid
}
#IGEmyTaskList .IGEmodBod TR.IGElast TD
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px
}
#IGEnews .IGEmodBod
{
    PADDING-TOP: 15px
}
.IGEmodbod FORM
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    MARGIN-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px
}
IMG.IGEinline
{
    DISPLAY: inline
}
#IGEschedule TD
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #ccc 1px solid
}
#IGEwhatsOn TD
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #ccc 1px solid
}
#IGEticker TD
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #ccc 1px solid
}
#IGEwhatsPlaying TD
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #ccc 1px solid
}
#IGEresources TD
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #ccc 1px solid
}
#IGEresources .IGEmodBod TR.IGElast TD
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px
}
#IGEwhatsPlaying .IGEmodBod TR.IGElast TD
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px
}
#IGEticker .IGEmodBod TR.IGElast TD
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px
}
#IGEwhatsOn .IGEmodBod TR.IGElast TD
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px
}
TR.IGEtitle TD
{
    FONT-WEIGHT: bold
}
#IGEticker .IGEpos
{
    COLOR: #0f3
}
#IGEticker .IGEneg
{
    COLOR: #f00
}
a.IGEchromeMoreLink { font-size: 9px; background-image: 
               url('../css images/arrow_white_bluebg.jpg'); 
               background-repeat: no-repeat; background-color: left; 
               background-attachment: scroll; text-transform: uppercase; 
               padding-left: 8px; background-position: center }
A.IGEchromeMoreLink:hover
{
    COLOR: #ffffff;
    TEXT-DECORATION: underline
}
A.IGEmarketPlaceTitle
{
    DISPLAY: inline;
    FONT-SIZE: 11px;
    MARGIN: 15px;
    COLOR: #0066cc;
    TEXT-DECORATION: none
}
TD.IGEnewsTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #3b73b9;
    LINE-HEIGHT: 15px
}
.IGEstoryDate
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #666666
}
.IGEstoryTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #3b73b9;
    LINE-HEIGHT: 20px
}
.IGEstoryEyebrow
{
    PADDING-RIGHT: 2px;
    MARGIN-TOP: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 9px;
    MARGIN-BOTTOM: 0px;
    PADDING-BOTTOM: 2px;
    TEXT-TRANSFORM: uppercase;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 2px
}
DIV .IGEmodBod H6
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
DIV .IGEmodBod
{
    PADDING-TOP: 10px
}
DIV .IGEmodBod IMG
{
    CLEAR: both;
    DISPLAY: inline-block;
    MARGIN: 0px 10px 0px 0px
}
DIV .IGEmodBod P
{
    MARGIN: 0px
}
DIV .IGEmodBodWrap P
{
    MARGIN: 0px
}
.IGEmodContainerParent .IGEmodBod .IGElearnTable H5
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 10px;
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 0px
}
.IGEmodContainerParent .IGEmodBod .IGEstoryTable H5
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 0px;
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 0px
}
.IGEsearchTable .secondCell H5
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    MARGIN-BOTTOM: 0px;
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 0px
}
#IGEmodBullet UL
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    LIST-STYLE-TYPE: none
}
#IGEmodBullet li { font-weight: normal; font-size: 11px; background-image: 
               url('../css images/blueOpenArrowBullet.gif'); 
               background-repeat: no-repeat; background-attachment: scroll; 
               line-height: 13px; padding-left: 10px; padding-right: 0px; 
               padding-top: 0px; padding-bottom: 0px; background-position: 0% }
#IGEmainSearch
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 8px
}
UNKNOWN
{
    WIDTH: 515px
}
#IGEmainSearch H2
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 24px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px 0px 20px;
    LINE-HEIGHT: 24px;
    PADDING-TOP: 0px;
    TEXT-ALIGN: left
}
#IGEmainSearch TH
{
    PADDING-LEFT: 10px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 4px;
    COLOR: #fff;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #fff 10px solid;
    BACKGROUND-COLOR: #3b73b9;
    TEXT-ALIGN: left
}
#IGEmainSearch TD
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 5px
}
#IGEmainSearch TABLE.IGEtpage TD.IGEtpage
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
#IGEmainSearch TABLE.IGEdatapage TD.IGEdatapage
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 600px;
    PADDING-TOP: 0px
}
#IGEmainSearch TABLE.IGErelatedSearch TD.IGErelatedSearch
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 600px;
    PADDING-TOP: 0px
}
#IGEmainSearch H5
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 0px
}
#IGEmainSearch SELECT
{
    FONT-SIZE: 11px;
    COLOR: #666;
    LINE-HEIGHT: 13px;
    BACKGROUND-COLOR: #f7f7f7
}
#IGEmainSearch TABLE.IGEselectVideo
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    TEXT-ALIGN: left
}
#IGEmainSearch TD.IGEselectVideoCell
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 0px;
    TEXT-ALIGN: left
}
#IGEmainSearch TH
{
    PADDING-LEFT: 10px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    COLOR: #fff;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #fff 1px solid;
    BACKGROUND-COLOR: #3b73b9;
    TEXT-ALIGN: left
}
#IGEmainSearch TH.IGEsearchCriteria
{
    PADDING-LEFT: 10px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    COLOR: #fff;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #fff 0px solid;
    BACKGROUND-COLOR: #3b73b9;
    TEXT-ALIGN: left
}
#IGEmainSearch TD.IGEdata
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 5px
}
#IGEmainSearch TD.IGErightdata
{
    BORDER-RIGHT: #cccccc 1px solid;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
#IGEmainSearch TD.IGEsearchCriteria
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
#IGEmainSearch TABLE.IGEsearchCriteria
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-LEFT: #cccccc 1px solid;
    BORDER-BOTTOM: #cccccc 1px solid
}
#IGEmainSearch TH.IGErelatedSearch
{
    PADDING-LEFT: 0px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    COLOR: #fff;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #fff 1px solid;
    BACKGROUND-COLOR: #3b73b9;
    TEXT-ALIGN: left
}
#IGEmainSearch A.IGElightBackground
{
    BACKGROUND-COLOR: #eeeeee
}
#IGEmainSearch FONT.IGElightBackground
{
    BORDER-RIGHT: red 0px solid;
    BORDER-TOP: red 0px solid;
    FONT-SIZE: 11px;
    BORDER-LEFT: red 0px solid;
    BORDER-BOTTOM: red 0px solid;
    BACKGROUND-COLOR: #cccccc
}
.MPmodBod
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    COLOR: #666;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 10px;
    BACKGROUND-COLOR: #ffffff
}

.epi-trail {
	FONT-WEIGHT: normal; FONT-SIZE: x-small; MARGIN-BOTTOM: 0px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif
}

.epi-trail A {
	COLOR: #3b73b9! important; TEXT-DECORATION: none! important
}
.epi-trail A:hover {
	COLOR: #3399cc; TEXT-DECORATION: underline! important
}
.epi-trailOn {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; MARGIN-BOTTOM: 0px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
} 
TABLE.epi-formTable TD {
	PADDING-BOTTOM: 0.25em; PADDING-TOP: 0.25em
}
TABLE.epi-formTable TD TABLE TD {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0em; PADDING-BOTTOM: 0em; PADDING-TOP: 0em
}
TABLE.epi-formTable TD.epi-spacerCell {
	FONT-SIZE: 0px; HEIGHT: 1em
}
.epi-formLabel {
	PADDING-RIGHT: 0.75em; FONT-WEIGHT: bold; TEXT-ALIGN: left
}
.epi-input {
	FONT-SIZE: xx-small; COLOR: #000000; FONT-FAMILY: Verdana, Geneva, sans-serif; BACKGROUND-COLOR: #ffffff
}
.epi-button {
	FONT-SIZE: xx-small; COLOR: #000000; FONT-FAMILY: Verdana, Geneva, sans-serif; BACKGROUND-COLOR: #dddddd
}
.epi-buttonLink {
	COLOR: #3b73b9! important; TEXT-DECORATION: underline! important
}
.epi-buttonLink:hover {
	COLOR: #3399cc! important; TEXT-DECORATION: underline! important
}
.epi-lineBreak {
	BACKGROUND-COLOR: #cccccc
}
.epi-block {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; COLOR: #666666; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #f7f7f7
}
.epi-blockBorder {
	BACKGROUND-COLOR: #9ccce0
}
.epi-dataTable {
	BORDER-RIGHT: medium none; BORDER-BOTTOM: #ffffff 1px solid
}
.epi-dataTable TH {
	FONT-SIZE: 11px; BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; COLOR: #666666; PADDING-TOP: 0.5em; BACKGROUND-COLOR: #bababa
}
.epi-dataTable TH.epi-rowHeadSorted {
	COLOR: #666666! important; BACKGROUND-COLOR: #bababa; TEXT-DECORATION: none
}
.epi-dataTable TD {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.3em; COLOR: #666666; PADDING-TOP: 0.3em
}
.epi-dataTable .epi-padRight {
	PADDING-RIGHT: 2em
}
.epi-dataTableLite {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid
}
.epi-dataTable .epi-embeddedTable TD {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
.epi-dataTree .epi-embeddedTable TD {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
.epi-rowOdd {
	COLOR: #666666; BACKGROUND-COLOR: #f7f7f7
}
.epi-rowEven {
	BACKGROUND-COLOR: #ffffff
}
.epi-rowSpecial1 {
	COLOR: #000000; BACKGROUND-COLOR: #bedfec
}
.epi-rowFooter {
	COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
.epi-rowHighlight {
	COLOR: #ffffff! important; BACKGROUND-COLOR: #6fb2ce
}
.epi-rowHighlight TD {
	COLOR: #ffffff! important; BACKGROUND-COLOR: #6fb2ce
}
.epi-dataTableBorder {
	BACKGROUND-COLOR: #ffffff
}
.epi-rowHead {
	PADDING-BOTTOM: 0.3em; COLOR: #000000; PADDING-TOP: 0.3em; BACKGROUND-COLOR: #9ccce0; font-veight: bold
}
.epi-rowHeadSorted {
	PADDING-BOTTOM: 0.3em; COLOR: #666666; PADDING-TOP: 0.3em; BACKGROUND-COLOR: #bababa; font-veight: bold
}
.epi-rowSpecial2 {
	BACKGROUND-COLOR: #ffffff
}
.epi-form {
	FONT-SIZE: xx-small; COLOR: #000000; FONT-FAMILY: Verdana, Geneva, sans-serif; BACKGROUND-COLOR: #ffffff
}
.epi-rowSubHead {
	COLOR: #000000; BACKGROUND-COLOR: #bedfec
}
.epi-button-normal {
	BACKGROUND-COLOR: #6fb2ce
}
.epi-button-normal TABLE.rollover {
	BACKGROUND-COLOR: #d6eef8
}
.epi-button-rollover {
	CURSOR: hand; BACKGROUND-COLOR: #6fb2ce
}
.epi-button-rollover TABLE.rollover {
	BACKGROUND-COLOR: #9ccce0
}
.epi-button-current {
	BACKGROUND-COLOR: #6fb2ce
}
.epi-button-current TABLE.rollover {
	BACKGROUND-COLOR: #6fb2ce
}
.epi-button-current A {
	FONT-WEIGHT: bold; COLOR: #000000! important; TEXT-DECORATION: none! important
}
.epi-button-current-rollover {
	CURSOR: hand; BACKGROUND-COLOR: #6fb2ce
}
.epi-button-current-rollover TABLE.rollover {
	BACKGROUND-COLOR: #9ccce0
}
.epi-button-line {
	BORDER-BOTTOM: #ffffff 1px solid
}
.epi-dataTable IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: inline; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.epi-dataTable A:link IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: inline; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.epi-dataTable A:visited IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: inline; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.epi-dataTable A:hover IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: inline; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.epi-dataTable A:active IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: inline; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
