##################################
#Shim Tool configuration File    # 
#     Created 07-JUL-2006        #
#    For Field Use Only          #
#    for win 2000                #
##################################


# Set the default Network Drive root
NetworkDir=C:\mrShim

# Set the default Local Storage Drive
LocalDir=C:\mrShim

# Set the default operation mode (Factory, Field, Root)
# Point to the passwd file, otherwise you will be prompted for it
Mode=Root,C:\mrShim\ShimTool\ShimTool.pwd

# Set the default magnet series type
DefaultSeries=W

# Set the default shim type (should match the series type)
DefaultType,Cylindrical,CoronaP41

# Set the test location
TestLocation=00

# Set any auxillary shim commands
ShimOption=Plate,OldFactory

# Addition ShimOptions can be listed as named pairs (batchST/MT) commands
AutoCamera=true
MaxCommPort=1
CommQueryPause=100

# set file viwer
shimfileviewer=C:\Progra~1\Window~1\Accessories\wordpad

# Set si file

Cylindrical=C:\mrShim\ShimTool\Cylindrical_Corona_field_2K.si
#
Open=C:\mrShim\ShimTool\OpenSpeed.si
#
#
# END OF FILE