.SearchControl 		{ font-family: Arial; font-size: xx-small; }
edit.SearchControl	{ font-family: Arial; font-size: xx-small; font-weight: bold }

p			 		{ font-family: Arial; font-size: xx-small; }
body 		 		{ font-family: Arial; font-size: xx-small; background-color: #9EBFF6; }


table.SearchForm {
 	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 0;
	background-color: #9EBFF6; 
	}


p.SearchTitle 		{ font-size: small; font-weight: bold; color: Navy;
					  margin-top: 0; margin-bottom: 0.3em; padding: 0px 0px 0px 0px;
					}
p.SearchSubTitle	{ font-size: xx-small; font-weight: bold; color: Navy; 
					  margin-top: 0; margin-bottom: 0.2em; padding: 0px 0px 0px 0px;
					}
p.NextPrevLinks		{ font-family: Arial; font-size: xx-small; color: Navy; 
					  margin-top: 0; margin-bottom: 0.2em; padding: 0px 0px 0px 0px;
					  text-align: right; font-weight: bold;
					}

Caption       	{ font-size: xx-small; font-weight: bold; color: Black; }

table.SearchResults {
 	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 0;
	background-color: #9EBFF6; 
	}
	
td.ResultsTableHeader {
	background-color: Navy;
	color: Silver;
	font-size: small;
	}

td.ResultsItem {
	background-color: #eeeeee;
	font-size: xx-small;
	}
	

