.SearchControl 		{ font-family: Arial; font-size: x-small;  margin-bottom: 0;  margin-top: 0;    }
#SearchRequest	{ font-family: Arial; font-size: x-small;  }
#SearchButton 	{ font-family: Arial; font-size: x-small;  }
#SearchType 	{ font-family: Arial; font-size: x-small;  }
#IndexList  	{ font-family: Arial; font-size: x-small;  }


p			 		{ font-family: Arial; font-size: xx-small;   }
body 		 		{ 
	font-family: Arial; 
	font-size: xx-small; 
	/* background-color: #b8dcff;  */
	background-color: #6E87B9; 	
	}
.BB_body		{ font-family: Arial; font-size: x-small; background-color: #6E87B9; }

table.SearchForm {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	width: 94%;
}

form.SearchForm {
	padding: 0 0 .5em 0;
	margin: 0 0 0 0;
	
}

td.SearchControl {
}

#SearchFormDiv {
	border: 1px outset;
	background-color: #CFD7F6;
	margin: .2em 3% .2em 3%;
	padding-left: .3em;
}

#ResultsTableDiv {
	border: 1px;
}

#ResultsDiv {
	border: 1px outset;
	margin: .2em 3% .2em 3%; 
	padding-left: .3em;
}


#ResultsHeaderDiv {
	border: 1px;
	padding-left: .3em;
	margin: .2em 3% .2em 3%;
}
table.SearchResults {
 	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color: #6E87B9; 
	width: 94%;
	}
	
p.SearchTitle 		{ font-size: small; font-weight: bold; color: Navy;
					  margin-top: 0.3em; margin-bottom: 0.3em; padding: 0px 0px 0px 0px;
					text-align: center;
					}
p.SearchSubTitle	{ font-size: xx-small; font-weight: bold; color: Navy; 
					  margin-top: 0; margin-bottom: 0.2em; padding: 0px 0px 0px 0px;
					}
p.NextPrevLinks		{ font-family: Arial; font-size: xx-small; color: Navy; 
					  margin-top: 0; margin-bottom: 0.2em; padding: 0px 5px 0px 0px;
					  text-align: right; font-weight: bold;
					}

Caption       	{ font-size: xx-small; font-weight: bold; color: Black; }

	 
td.ResultsTableHeaderLeft {
	color: navy;
	font-size: small;
	font-weight: bold;
	text-align: center;
	width: 10%;
	}

td.ResultsTableHeaderRight {
	color: navy;
	font-size: small;
	font-weight: bold; 
	text-align: left;
	}

td.ResultsItemLeft {
	background-color: #f1f8ff;
	font-size: xx-small;
	width: 10%;
	text-align: right;
	}
	
td.ResultsItemRight {
	background-color: #f1f8ff;
	font-size: xx-small;
	width: 90%;
	}

.BBbutton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	}
.BBBarTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	color: navy;
	text-align: left;
	float: left;
	}
#ButtonBar {
	text-align: right;
	}


